body { 
  font-family: calibri, helvetica, arial, sans-serif; 
  margin: 0;
}

.root {
  font-size: 5em;
  color: #ffffff;
  background: #1E043C
}


.timer {
    line-height: 50vh;
    text-align: center;
}

.active {
  background: #06D6A0;
}

.active-rest {
  background: #F03A47;
}

.control {
  position: fixed;
  top: 0px;
  display: flex;
  height: 10vh;
  width: 100%;
  padding: 0px;
}


.button {
  width: 50%;
  height: 100%;
  padding: 0;
  display: inline-block;
  border: none;
  margin: 0;
  text-decoration: none;
  background: none;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, 
              transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.button:hover {
  background: #F8FFE5;
  color: #1E043C
}

.button:focus {
  outline: none;
  outline-offset: none;
}
