body {
  background: #000;
  color: white;
  font-family: 'Playfair Display', serif;
}

.container {
  margin: 0 auto;
  margin-top: 10vh;
  width: 60vw
}

.quote {
  font-size: 4em;
  font-weight: 900;
}

.sub {
  margin-top: 10vh;
  font-size: 3em;
  display: flex;
  justify-content: space-between;
}

.quote.False {
  animation: fade-me-in 5s;
}

.sub.False {
  
  animation: fade-me-in3 5s;
}

.quote.True {
  animation: fade-me-in2 5s;
}

.sub.True {
  animation: fade-me-in4 5s;
}

@keyframes fade-me-in {
  /* You could think of as "step 1" */
  0% {
    opacity: 0;
  }
  /* You could think of as "step 2" */
  100% {
    opacity: 1;
  }
}

@keyframes fade-me-in2 {
  /* You could think of as "step 1" */
  0% {
    opacity: 0;
  }
  /* You could think of as "step 2" */
  100% {
    opacity: 1;
  }
}


@keyframes fade-me-in3 {
  /* You could think of as "step 1" */
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }
  /* You could think of as "step 2" */
  100% {
    opacity: 1;
  }
}

@keyframes fade-me-in4 {
  /* You could think of as "step 1" */
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }
  /* You could think of as "step 2" */
  100% {
    opacity: 1;
  }
}

button {
  display: inline-block;
  border: none;
  margin: 0;
  margin-right: 10vw;
  text-decoration: none;
  background: #000;
  color: #ffffff;
  font-family: inherit;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, 
              transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:hover{
  background: #0053ba;
}
